# ALLOWED HOST ADDRESSES
allowed_hosts= kohteen ip

log_facility=daemon

log_file=/var/log/nrpe.log

debug=0

pid_file=/var/run/nagios/nrpe.pid

server_port=5666

# NRPE USER
nrpe_user=nagios

# NRPE GROUP
nrpe_group=nagios

dont_blame_nrpe=0

allow_bash_command_substitution=0

command_timeout=60

connection_timeout=300

command[check_users]=/usr/lib/nagios/plugins/check_users -w 5 -c 10
command[check_load]=/usr/lib/nagios/plugins/check_load -r -w .15,.10,.05 -c .30,.25,.20
command[check_vda1]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -p /dev/vda1
command[check_zombie_procs]=/usr/lib/nagios/plugins/check_procs -w 5 -c 10 -s Z
command[check_total_procs]=/usr/lib/nagios/plugins/check_procs -w 150 -c 200
command[check_apt]=/usr/lib/nagios/plugins/check_apt -w 150 -c 200

### OPEN FILES ###
command[check_open_files]=/usr/lib/nagios/plugins/check_open_files.pl $ARG1$

### NETWORK CONNECTIONS ###
command[check_netstat]=/usr/lib/nagios/plugins/check_netstat.pl -p $ARG1$ $ARG2$

include=/etc/nagios/nrpe_local.cfg

include_dir=/etc/nagios/nrpe.d/

